<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Apps Lanka Dev</span>
    <span class="example-spacer"></span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-selection-list #shoes>
  <mat-list-option *ngFor="let hero of heroes">
    {{ hero }}
  </mat-list-option>
</mat-selection-list>

<h2 *ngIf="time == 10" style="color:white;background-color: blue; padding: 20px;">
  Hi Good morning!
</h2>

<h2 *ngIf="time > 12" style="color:white;background-color: blue; padding: 20px;">
  Hi good After noon!
</h2>

<h2 *ngIf="time >= 23" style="color:white;background-color: red; padding: 20px;">
  Hi what do you do in midnight?
</h2>
